* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Onest', sans-serif;
}

a {
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar:horizontal {
  height: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 1px;
  background: #e5e5e5;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  background: #9a9a9a;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;
  color: #333;
  box-shadow:
    0px 0px 1px 0px #0c1a4b3d,
    0px 3px 8px -1px #3232470d;
}
.leaflet-control-attribution {
  display: none;
}

.leaflet-control-layers.leaflet-control {
  background-color: #fff;
  color: #333;
  border: 0;
  border-radius: 10px !important;
  top: 46px;
}

.leaflet-control-layers.leaflet-control .leaflet-control-layers-toggle {
  width: 36px;
  height: 36px;
  background-color: #fff;
  color: #333;
  border: 0;
  border-radius: 10px !important;
  overflow: hidden;
  box-shadow:
    0px 0px 1px 0px #0c1a4b3d,
    0px 3px 8px -1px #3232470d;
  background-size: 20px 20px;
}
.leaflet-control-layers-expanded {
  padding: 8px 10px !important;
  transition: all 0.1s;
  font-weight: 500 !important;
  font-size: 14px;
}

.leaflet-control-layers-expanded input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffffff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 3px solid #dcdcdc;
}

.leaflet-control-layers-expanded input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  /* background-color: #004646; */
  border: 3px solid #004646;

  content: '';
  display: inline-block;
  visibility: visible;
}
.custom-marker {
  width: 25px !important;
  display: flex;
  align-items: center;
  height: 30px !important;
}
body .leaflet-control-zoom.leaflet-bar.leaflet-control {
  border: 0;
  background-clip: inherit;
  border-radius: 12px;
  overflow: hidden;
  box-shadow:
    0px 0px 1px 0px #0c1a4b3d,
    0px 3px 8px -1px #3232470d;
}
body .leaflet-control-zoom.leaflet-bar.leaflet-control a {
  border: 0;
  background-clip: inherit;
  width: 36px;
  height: 36px;
  line-height: 36px;
}

.MuiDateCalendar-root,
.MuiYearCalendar-root,
.MuiMonthCalendar-root {
  max-width: 296px;
  height: auto;
  min-height: 100px;
  max-height: 330px;
  box-shadow: 0;
}

.MuiYearCalendar-root button,
.MuiMonthCalendar-root button {
  font-size: 14px;
  line-height: 1.5;
  margin: 4px 0;
  height: 33px;
  width: 64px;
}
#filter-menu {
  z-index: 1000;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPickersPopper-paper {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPickersPopper-paper
  .MuiDateCalendar-root {
  height: auto;
  min-height: 248px;
}
